<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Goat Time Tracker</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="row">
        <aside class="col-md-4">
          <section class="mb-4">
            <div class="card">
              <div class="card-body">
                <h3>New Task</h3>
                <div class="form-row" v-if="!editMode">
                  <div class="col-auto">
                    <label class="sr-only" for="task">Task</label>
                    <input
                      type="text"
                      class="form-control mb-2"
                      id="task"
                      ref="task-input"
                      placeholder="My new task..."
                      v-model="newTask"
                      @keyup.enter="saveTask"
                    />
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-primary" @click="saveTask">
                      Save
                    </button>
                  </div>
                </div>

                <div class="form-row" v-else>
                  <div class="col-auto">
                    <label class="sr-only" for="edit_task">Task</label>
                    <input
                      type="text"
                      class="form-control mb-2"
                      id="edit_task"
                      v-model="taskToUpdate.task"
                      @keyup.enter="disableEdit"
                    />
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-primary" @click="disableEdit">Done</button>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="card">
              <div class="card-body">
                <h3>Total Hours</h3>
                <strong :class="[totalHours < 8 ? 'text-danger' : 'text-success']">{{ totalHours }}</strong>
              </div>
            </div>
        </aside>

        <main class="col-md-8 mb-4">
          <div class="card">
            <div class="card-body task-container">
              <h3>My Tasks</h3>
              <div class="mb-4" v-for="task in tasks" :key="task.id">
                <input
                  type="number"
                  min="0"
                  max="24"
                  step="0.25"
                  class="form-control"
                  style="max-width: 75px; display: inline;"
                  v-model="task.timeSpent"
                  :disabled="task.completed"
                />
                <span>{{ task.task }}</span><br>
                <small>
                  <a 
                    href="javascript:void(0)"
                    class="text-muted"
                    @click="completeTask(task)"
                  >
                    <span v-if="!task.completed">Lock</span>
                    <span v-else>Unlock</span>
                  </a>
                </small>
                &nbsp;
                <small>
                  <a href="javascript:void(0)" class="text-info" @click="enableEdit(task)">Edit</a>
                </small>
                &nbsp;
                <small>
                  <a
                    href="javascript:void(0)"
                    class="text-danger"
                    @click="removeTask(task)"
                  >
                    Remove
                  </a>
                </small>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
